<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>購物車</title>
    <link rel="stylesheet" href="/cart.css">
</head>
<%- include('header') %>
<body>
    <div class="container">
        <h2>購物車</h2>
        <ul class="cartitems">
            <% cartItems.forEach(function(cartitem){ %>
                <li class="cartitem">
                    <img src="/img/products/<%= cartitem.image %>" alt="">
                    <h4><%= cartitem.product_name %></h4>
                    <p>數量:<button class="decrement" data-productid="<%= cartitem.product_id %>">-</button>
                            <span class="quantity"><%= cartitem.quantity %></span>
                            <button class="increment" data-productid="<%= cartitem.product_id %>">+</button></p>
                    <p>單價: $<%= cartitem.price %></p>
                    <p>合計: $<span class="itemtotal" >0</span></p>
                </li>
            <% }) %>
        </ul>
        <div class="cartsummary">
            <p>總計: <span id="totalprice">0</span> 元</p>
            <a href="/checkout"><button id="checkout">結帳</button></a>
        </div>
    </div>
    <script> 
        let cartItems = <%- JSON.stringify(cartItems) %>;

        // 更新頁面
        const totalpriceEl = document.getElementById('totalprice');

        function updatePage() {
            const itemtotalEl = document.querySelectorAll('.itemtotal');
            let totalPrice = 0;

            cartItems.forEach(function (cartitem, index) {
                const itemtotal = cartitem.price * cartitem.quantity;
                itemtotalEl[index].textContent = itemtotal;
                totalPrice += itemtotal;
                console.log(cartitem.quantity)
            });
            const totalpriceEl = document.getElementById('totalprice');
            totalpriceEl.textContent = totalPrice;
        }
        updatePage();

        //更新購物車數量
        document.addEventListener('DOMContentLoaded', () => {
            const decrementButtons = document.querySelectorAll('.decrement');
            const incrementButtons = document.querySelectorAll('.increment');

            decrementButtons.forEach(button => {
                button.addEventListener('click', async () => {
                    const productId = button.getAttribute('data-productid');
                    const quantityElement = button.nextElementSibling;
                    const currentQuantity = parseInt(quantityElement.textContent);

                    if (currentQuantity > 1) {
                        const updatedQuantity = currentQuantity - 1;
                        quantityElement.textContent = updatedQuantity;
                        //發送到後端
                        await updateQuantitydb(productId, updatedQuantity);
                        updatePage();
                    }
                });
            });

            incrementButtons.forEach(button => {
                button.addEventListener('click', async () => {
                    const productId = button.getAttribute('data-productid');
                    const quantityElement = button.previousElementSibling;
                    const currentQuantity = parseInt(quantityElement.textContent);
                
                    const updatedQuantity = currentQuantity + 1;
                    quantityElement.textContent = updatedQuantity;
                    // 發送到後端
                    await updateQuantitydb(productId, updatedQuantity);
                    updatePage();
                });
            });

            async function updateQuantitydb(productId, quantity) {
                try {
                    //發送opst請求回後端
                    await fetch('/addquantity', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ productId, quantity }),
                    });
                    const response = await fetch('/getcartdata');
                    if (response.ok) {
                        const updatedCartData = await response.json();
                        cartItems = updatedCartData; // 更新 cartItems
                        updatePage(); // 调用 updatePage 来更新页面
                    }
                } catch (error) {
                    console.error('更新購物車數量錯誤:', error);
                }
            }
        });     
    </script>
</body>
<%- include('footer') %>
</html>
