<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>購物車</title>
    <link rel="stylesheet" href="/cart.css">
</head>
<%- include('header') %>
<body>
    <div class="container">
        <h2>購物車</h2>
        <ul class="cartitems">
            <% cartItems.forEach(function(cartitem){ %>
                <li class="cartitem">
                    <img src="/img/products/<%= cartitem.image %>" alt="">
                    <h4><%= cartitem.product_name %></h4>
                    <p>數量: <button class="decrement">-</button>
                            <span class="quantity"><%= cartitem.quantity %></span>
                            <button class="increment">+</button></p>
                    <p>價格: $<%= cartitem.price %></p>
                </li>
            <% }) %>
        </ul>
        <div class="cartsummary">

            <p>總計: <span id="totalprice">0</span> 元</p>
            <a href="/checkout"><button id="checkout">結帳</button></a>
        </div>
    </div>
    <script> 
        const cartItems = <%- JSON.stringify(cartItems) %>;

        // 加總
        let totalPrice = 0;
        cartItems.forEach(function (cartitem) {
            const itemPrice = cartitem.price * cartitem.quantity;
            totalPrice += itemPrice;
        });

        // 更新頁面
        const totalpriceEl = document.getElementById('totalprice');
        totalpriceEl.textContent = totalPrice.toFixed(2);

    </script>
</body>
<%- include('footer') %>
</html>
