<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自媒體商店</title>
    <link rel="stylesheet" href="/store.css">
</head>
<%- include("header") %>
<body>
    <div class="container">
        <h2>自媒體商店</h2>
        <ul class="product-grid">
            <% products.forEach(function(product){  %>
            <li class="product" data-productid="<%= product.product_id %>">
                <h3><%= product.product_name %></h3>
                <img src="/img/products/<%= product.image %>" alt="商品">
                <div class="productlist">
                    <button class="addToCart">加入購物車</button>
                    <p class="price">價格:<%= product.price %></p>
                    <p>類型：<%= product.type %></p>
                </div>
                <p><%= product.description %></p>
            </li>
            <% }); %>
        </ul>
    </div>
    <%- include("footer") %>
    <script>
        var username = '<%= username %>';

        document.querySelectorAll('.addToCart').forEach((btn) => {
            btn.addEventListener('click', () => {
                if (!username) {
                    alert('請先登入');
                    return; 
                }
                const productElement = btn.closest('.product');
                const productid = productElement.dataset.productid; 
                const quantity = 1;
                
                fetch('/addToCart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ productid, quantity }),
                })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        alert(data.message);
                    } else {
                        alert('操作失敗');
                    }
                })
                .catch((error) => {
                    console.error('錯誤：', error);
                    alert('操作失敗');
                });
            });
        });
    </script>
</body>
</html>
