<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自媒體商店</title>
    <link rel="stylesheet" href="/store.css">
</head>
<%- include("header") %>
<body>
    <div class="container">
        <h2>自媒體商店</h2>
        <ul class="product-grid">
            <% products.forEach(function(product){  %>
            <li class="product">
                <h3><%= product.product_name %></h3>
                <img src="/img/products/<%= product.image %>" alt="商品1">
                <p class="price">價格:<%= product.price %></p>
                <div class="productlist">
                    <p><%= product.type %></p>
                    <button>加入購物車</button>
                    <button>購買</button>
                </div>
                <p><%= product.description %></p>
            </li>
            <% }); %>
        </ul>
    </div>
    <%- include("footer") %>
</body>
</html>
